/*////////////////////////////////////////


!!!!	   DO NOT WORK IN THIS FILE    !!!!


////////////////////////////////////////*/
.bg-boiler {
  background-color: #3D5AFE; }
  .bg-boiler .dropdown-menu, .bg-boiler .dropdown-item {
    background-color: #3D5AFE;
    color: white; }
  .bg-boiler .dropdown-item:hover {
    background-color: #0125ed; }

.grid-example {
  position: relative;
  padding: 1rem;
  border-width: .2rem 0 0; }
  .grid-example + .highlight,
  .grid-example + .clipboard + .highlight {
    margin-top: 0; }
  .grid-example + p {
    margin-top: 2rem; }
  .grid-example .pos-f-t {
    position: relative;
    margin: -1rem; }
  .grid-example .custom-file-input:lang(es) ~ .custom-file-label::after {
    content: "Elegir"; }
  .grid-example > .form-control + .form-control {
    margin-top: .5rem; }
  .grid-example > .nav + .nav,
  .grid-example > .alert + .alert,
  .grid-example > .navbar + .navbar,
  .grid-example > .progress + .progress,
  .grid-example > .progress + .btn {
    margin-top: 1rem; }
  .grid-example > .dropdown-menu:first-child {
    position: static;
    display: block; }
  .grid-example > .form-group:last-child {
    margin-bottom: 0; }
  .grid-example > .close {
    float: none; }

.grid-example .row > .col, .grid-example .row .w-100,
.grid-example .row > [class^="col-"] {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2); }
