<footer class="footer">
  <div class="max-width">
    <div class="row">
      <div class="col-xs-12">
        <p>
          <a href="{{ backLink|default('#') }}" class="btn btn-default btn-xs"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
          <a href="{{ nextLink|default('#') }}" class="btn btn-warning btn-xs pull-right">Save &amp; Continue <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </p>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-xs-3">
        <p><a href="#" class="btn btn-default btn-xs">Submit to Primary Contact</a> </p>
      </div>
      <div class="col-xs-7">
        <p class="small">If you are an MSM and you have provided all of the information you have access to, please Submit to Primary Contact.</p>
      </div>
    </div>
  </div>
</footer>

<hr>

<footer class="footer--help text-center">
  <div class="max-width">
    <p class="small"><strong>MySynviscBV Customer Service Center</strong> • 603 Beaver Street, Pittsburgh, PA 15143 <br>
      Phone: (844) 697-9684 • Fax: (877) 671-3226 • Email: <a href="mailto:support@careform.net">support@careform.net</a> • Hours: M-F 8am - 7pm ET</p>
  </div>
</footer>