$color-primary: #003468;
$color-secondary: #0076A5;
$color-accent: #F15D22;
$text-color: #575757;

$link-color: $color-secondary;
$link-hover-color: darken($link-color, 15%) !default;

$table-bg-hover: #CCD5DE;

$table-case-listing-requiring-attention--bkg-color--odd: lighten($color-accent,20%);
$table-case-listing-requiring-attention--bkg-color--even: lighten($color-accent,30%);
$table-case-listing-requiring-attention--bkg-color--odd--hover: $color-accent;
$table-case-listing-requiring-attention--bkg-color--even--hover: $color-accent;

$well-accent--bkg-color: lighten($color-accent,30%);
$well-accent--border-color: $color-accent;
$case-requiring-action--bkg-color: lighten($color-accent,25%);

$case-detail--accent-bkg-color: lighten($color-accent,25%);

$single-drug--width: auto;
$single-drug--min-height: auto;
$drug-selection-slideshow--img--margin: 0 0 1px;

$label-warning-bg--theme: $color-accent;
