//
// Utility classes
// --------------------------------------------------


// Floats
// -------------------------

.clearfix {
  @include clearfix;
}
.center-block {
  @include center-block;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}


// Toggling content
// -------------------------

// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  @include text-hide;
}


// Hide from screenreaders and browsers
//
// Credit: HTML5 Boilerplate

.hidden {
  display: none !important;
}


// For Affix plugin
// -------------------------

.affix {
  position: fixed;
}


.border-right {
  border-right: 1px solid $gray-lighter;
}
.border-left {
  border-left: 1px solid $gray-lighter;
}

.text-decoration-underline {
  text-decoration: underline;
}

.list-reset {
  @include list-reset;
}
.list--margin-bottom-small {
  li {
    margin-bottom: $padding-small;
  }
}

.d-block {
  display: block;
}
