// 	==================================================================
//  CIMZIA
//
//	Author  : Randy Oest
//	Company : Amazing Rando Design
//	Email   : oest@amazingrando.com
//	Date    : Winter 2018
// 	==================================================================

@import url("https://use.typekit.net/ikz1inz.css");
@import "themes/theme--cimzia";

//  Global styles
//  ========================================================
@import "global/theme-colors";
@import "themes/cimzia/variables";
@import "global/mixins";
@import "global/font-frutiger";
@import "global/font-awesome.min";
@import "global/normalize";
@import "global/print";
@import "global/glyphicons";
@import "global/utilities";
@import "global/responsive-utilities";
@import "global/component-animations";
@import "global/utility-dropdown";

// Core styles
//  ========================================================
@import "core/scaffolding-bootstrap";
@import "core/type";
@import "core/code";
@import "core/grid";
@import "core/forms";
@import "core/buttons";
@import "core/typeahead";
@import "core/datepicker";
@import "core/kendo-ui";

//  Components
//  ========================================================

//  Modified from Bootstrap, v3 at https://getbootstrap.com/
@import "components/from-bootstrap/dropdowns";
@import "components/from-bootstrap/button-groups";
@import "components/from-bootstrap/input-groups";
@import "components/from-bootstrap/labels";
@import "components/from-bootstrap/badges";
@import "components/from-bootstrap/alerts";
@import "components/from-bootstrap/list-group";
@import "components/from-bootstrap/close";
@import "components/from-bootstrap/panels";
@import "components/from-bootstrap/navs";

//  Tables
//  ========================================================
@import "components/tables/tables";
@import "components/tables/table-sorter";
@import "components/tables/table-recent-orders";
@import "components/tables/table-wrapper";

//  Wells
@import "components/wells/wells";
@import "components/wells/wells-accent";

//  Pagination and pagers
@import "components/pagination/pagination";
@import "components/pagination/pager";
@import "components/pagination/kendo-pager";

//  Dropdowns are styled with Chosen, https://harvesthq.github.io/chosen/
@import "components/chosen-dropdowns/bootstrap-chosen-variables";
@import "components/chosen-dropdowns/bootstrap-chosen";

// Components w/JavaScript
@import "components/modals/modals";
@import "components/modals/modal-tour";
@import "components/tooltip";
@import "components/popovers";
@import "components/carousel";
@import "components/insurance-loader";

//  Headers
@import "components/header/header-primary";
@import "components/header/header-secondary";

//  Navs
@import "components/navs/nav-primary";
@import "components/navs/nav-primary-dropdown";
@import "components/navs/nav-user";
@import "components/navs/nav-administration";

//  Patient sections
@import "components/patient/patient-center";
@import "components/patient/patient-new-modal";
@import "components/patient/patient-quick-add";

//  Case sections
@import "components/case/case";
@import "components/case/case-table-of-contents";
@import "components/case/case-history";
@import "components/case/new-case-summary";
@import "components/case/new-case";
@import "components/case/drug-selection-slideshow";
@import "components/case/inquiry-results";

//  Prescriber sections
@import "components/prescriber/prescriber-list";
@import "components/prescriber/prescriber-new-modal";
@import "components/prescriber/prescriber-row";

//  The rest...
@import "core/scaffolding";
@import "components/utility-header";
@import "components/footer";
@import "components/homepage";
@import "components/case-list";
@import "components/case-detail";
@import "components/notification-bar";
@import "components/messages";
@import "components/news-feed";
@import "components/popover";
@import "components/tos";
@import "components/system-notification";
@import "components/product-order-history/product-order-history";
@import "components/product-order-history/product-order-history--pending-flag";
@import "components/product-order";
@import "components/enroll-blocks";
@import "components/enroll-page";
@import "components/administration-section";
@import "components/help/help-pages";
@import "components/help/help-widget";
@import "global/margin-control-utilities";
@import "components/favorites/favorite-star";
@import "components/payer-intel/payer--state-modal";
@import "components/payer-intel/payer--information-list";
@import "components/payer-intel/payer--nav-card";
@import "components/reports";
@import "components/case/case-fulfillment";
@import "components/insurance";
@import "components/invoice/invoice-detail";
@import "components/product-return/new-product-return";
@import "components/brochures";
@import "components/images/image-with-remove-button";
@import "components/input-type-number";
@import "components/radio-buttons";
@import "components/paragraph-with-icon";
@import "components/awesome-bootstrap-checkbox";
@import "components/full-width-search";

//  Inventory Hub
@import "components/inventory-hub/row";
@import "components/inventory-hub/scanner-input";
@import "components/inventory-hub/well";
@import "components/inventory-hub/inventory-product-table";
@import "components/inventory-hub/filters";
@import "components/inventory-hub/popout-box";
@import "components/inventory-hub/category-list-editing";
@import "components/inventory-hub/empty-table";
@import "components/inventory-hub/table";
@import "components/inventory-hub/modal";
@import "components/inventory-hub/input-plus-icon";
@import "components/inventory-hub/dispense-nav";
@import "components/inventory-hub/quick-dispense";
@import "components/inventory-hub/time-wrapper";
@import "components/inventory-hub/inventory-header";
@import "components/inventory-hub/inventory-count";
@import "components/inventory-hub/circle";
@import "components/inventory-hub/lozenge";
@import "components/inventory-hub/inventory-table-category";
@import "components/inventory-hub/scanner-count";
@import "components/inventory-hub/tabbed-nav";
@import "components/inventory-hub/products-added-widget";
@import "components/month-year-combination-field";
@import "components/help-page-address";


//  Browser support, i.e. Internet Explorer
@import "browser-support/ie";

@import "themes/cimzia/button";
@import "themes/cimzia/header";
@import "themes/cimzia/footer";
@import "themes/cimzia/tables";
@import "themes/cimzia/fields";
@import "themes/cimzia/pagination";
@import "themes/cimzia/misc";
@import "themes/cimzia/case-table-of-contents";
@import "themes/cimzia/type";

//  ========================================================
//  Synvisc theme overrides
//  ========================================================

// Enroll Widget
.enroll-in-eordering.enroll-in-eordering__decorative,
.enroll-in-bv {
  background: #bcbec0;

  h3 {
    background: url("@@imgCSS/enroll-arrow--cimzia.png") no-repeat center left;
  }
  ul li .fa.color-accent {
    color: $color-accent;
  }
  .btn {
    background: $color-accent;
    border-color: $color-accent;
  }
}

.product-logo.product-logo--cimzia {
  position: absolute;
  width: 225px;
  top: -11px;
  left: 30px;

  + .nav-primary {
    padding-left: 285px;
  }
}

.chosen-container .chosen-results li.highlighted {
  background-color: $color-secondary;
  color: #fff;
}

.payer-nav-card--submit-section--submit-pa.disabled,
.payer-nav-card--submit-section--submit-rx.disabled {
  color: rgba(255, 255, 255, 0.6);
}

[data-insurance]:hover {
  color: #fff;
}

.ui-datepicker .ui-datepicker-header {
  color: #fff;
}

.ui-datepicker td .ui-state-highlight {
  background-color: $color-primary;
}

.tablesorter-header {
  color: $color-accent;

  &:hover {
    color: darken($color-accent, 5%);
  }

  &.tablesorter-headerAsc {
    color: #fff;
  }
}

.table.table-inventory-product-empty > thead > tr > th {
  color: $color-accent;
}

.table-case-listing-requiring-attention .tablesorter-active-column {
  background-color: transparent !important;
  color: inherit;
}

.table-case-listing-requiring-attention
  > tbody
  > tr
  td.tablesorter-active-column {
  border-bottom: none !important;
  border-color: transparent !important;
}

.case-requiring-action p,
.case-incomplete-drafts p {
  font-size: 16px;
}

.table-case-details p {
  font-size: 15px;
}
